--- # Version 21.1.1
BasedOnStyle: LLVM
ColumnLimit: 120
Standard: Latest
DisableFormat: false

AccessModifierOffset: -4
AlignConsecutiveDeclarations:
  AlignFunctionDeclarations: false
AlignEscapedNewlines: DontAlign
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Leave
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortNamespacesOnASingleLine: true
AttributeMacros: [OKL_EMPTY_BASES, OKL_EXPORT, EXPORT]
BinPackArguments: true # We would prefer 'Leave'.
BinPackParameters: OnePerLine # BinPack
BraceWrapping:
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: None # NonAssignment
BreakBeforeBraces: Custom # Attach
BreakStringLiterals: false # true
BreakTemplateDeclarations: Leave # MultiLine
CommentPragmas: '^ *(ReSharper disable|ReSharper restore|NOLINT)'
CompactNamespaces: true # false
EmptyLineBeforeAccessModifier: Always
ForEachMacros: []
IfMacros: [OKL_INTERNAL_TRY, OKL_INTERNAL_CATCH]
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"' # Internal includes.
    Priority: 1
  - Regex: '^<[^/.]*$' # std includes.
    Priority: 3
  - Regex: '^<' # External includes.
    Priority: 2
IncludeIsMainRegex: '(_tests)?$'
IndentExportBlock: false
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: false # true
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 2
NamespaceMacros: []
PackConstructorInitializers: NextLineOnly
PenaltyBreakComment: 0 # 300
PenaltyBreakOpenParenthesis: 500 # 0
PenaltyExcessCharacter: 400 # 1000000
PenaltyIndentedWhitespace: 9 # 0 or 2
PenaltyReturnTypeOnItsOwnLine: 475 # 60
PointerAlignment: Left # Right
ReflowComments: Never # Always - Uses spaces instead of tabs for indent.
RemoveEmptyLinesInUnwrappedLines: true # false
RequiresClausePosition: WithPreceding # OwnLine
SkipMacroDefinitionBody: true # false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
SpacesInAngles: Never # Leave
SpacesInContainerLiterals: false
StatementAttributeLikeMacros: [OKL_SUPPRESS_GSL]
StatementMacros: [SECTION, SCOPE, OKL_SECTION, OKL_SCOPE]
TabWidth: 4
UseTab: ForIndentation # Never
WhitespaceSensitiveMacros: [OKL_STRINGIFY]
...
